{% extends "index.html" %}
{% block bodyblock %}
<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
                            <h2 class="title"><a href="#">About</a></h2>
                            <p>Welcome to LectureLeaks.org, your personal OpenCourseWare repository.
                            You can now record, save, and upload your college lectures directly
                            from your iPhone or Android device.  You can also browse our library
                            of recordings and learn any time, anywhere.

                            <p>We believe that higher education should be available to all, for the
                            good of society. Anybody who wants to learn should be able to, so
                            we're trying to develop technology which allows that.

                            <p>Begin recording by pressing Record during all of your lectures, then
                            upload them to us so we can share them with the rest of the world.

                            <p>Before sharing any recordings, we encourage you to ask your
                            instructor's permission.  We are affirmative for open access
                            education, but we also maintain full compliance with the law (see our
                            website for more details.)

                            <p>All recordings are released under the Creative-Commons Attribution
                            license, and our server doesn't record any personally identifying
                            information like IP addresses.

                            <p>LectureLeaks is a <a href="http://github.com/Miserlou/LectureLeaks">100% Free and Open Source Project</a>, and uses
                            technology produced by <a href="http://openwatch.net">the OpenWatch Project</a>.

                            <p>Only you can spread knowledge from the privileged few to curious minds
                            everywhere, one lecture at a time.

                            <p> - Rich, Andrew and Chris, August 2011.
                            <h2 class="title"><a href="#">Contact</a></h2>
                            <p> Want to know more? Send us an email: 
                            <p> <b>contact@lectureleaks.org</b> 
                            <p> Thanks! 
							<br /><br /></br />
							</div>
						</div>
					</div>
				</div>
{% endblock %}
