{% extends "index.html" %}
{% block bodyblock %}
<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h2 class="title"><a href="#">About</a></h2>
                                <p>Welcome to LectureLeaks.org, your personal open courseware repository.  You can now record, save, and upload your college lectures directly from your computer, iPhone, or Android device.  You can also browse our library of lecture recordings to learn cool new stuff any time anywhere.
                                <p>Begin recording with a few taps.  Then share your lessons with some basic details.  By contributing to LectureLeaks you are helping yourself and others gain access to knowledge.  If you choose to share your recordings, we will never expose your identity to anyone for any reason.  We also respect the privacy and copyright concerns of professors.  So please ask permission of anyone whose lessons you plan to record and keep a local copy of anything you post online.  We will always comply with legitimate DMCA take-down requests and post the details on ChillingEffects.org.
                                <p>Only you can spread knowledge from the privileged few to curious minds everywhere.  Thank you for helping us open access to education.  Together we can disrupt the ivory tower's monopoly on higher learning and make access to education a basic human right.
							<br /><br /></br />
							</div>
						</div>
					</div>
				</div>
{% endblock %}
