{% extends "index.html" %}
{% block bodyblock %}
<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h2 class="title"><a href="#">Apps</a></h2>
                                <div><p>We have apps available for Android and iOS devices that allow you to record, save, and upload your college lectures directly from your device.  You can also browse our library of recordings and learn any time, anywhere.
                                <p>Click on the device you have to download the appropriate app.
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://itunes.apple.com/us/app/lectureleaks/id460258898?mt=8">iOS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://market.android.com/details?id=org.ale.lectureleaks">Android</a><br><a href="http://itunes.apple.com/us/app/lectureleaks/id460258898?mt=8"><img src="/static/screenshots/iphone_screenshot.png" height=400 style="padding-right:100px"></a>
                                <a  href="https://market.android.com/details?id=org.ale.lectureleaks"><img src="/static/screenshots/android_screenshot.png" height=392></a>
							<br /><br /></br /><br /><br /></br /><br /><br /></br /><br /><br /></br /><br /><br />
							</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}
