<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>LectureLeaks  - Liberated Courseware</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/jquery/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.slidertron-0.1.js"></script>
<LINK REL="SHORTCUT ICON" HREF="/static/favicon.ico">
</head>
<body>
<div id="wrapper">
<div id="wrapper2">
<div id="header">
	<div id="logo">
		<h1><a href="/"><img width="400px" src="/static/ll2large.png"></a></h1>
		<h2><a href="/"><div style="padding-left:10px">Liberated Knowledge</div></a></h2>
	</div>
	<!-- end div#logo -->
	<div id="menu">
		<ul>
			<li {% if cat == "main" %} class="active" {% endif %}><a href="/">Home</a></li>
			<li {% if cat == "upload" %} class="active" {% endif %}><a href="/upload">Upload</a></li>
			<li {% if cat == "about" %} class="active" {% endif %}><a href="/about">About</a></li>
			<li {% if cat == "apps" %} class="active" {% endif %}><a href="/apps">Apps</a></li>
		</ul>
	</div>
	<!-- end div#menu -->
</div>
</div>
<div>
	<div id="page">
		<div id="page-bgtop">
			<div id="content">

				{% block bodyblock %}

                {% endblock %}
			</div>
			<!-- end div#content -->
			<div id="sidebar">
				<div id="sidebar-bgtop">
					<div id="sidebar-bgbtm">
						<ul>
							<li id="search">
								<h2>About</h2>
                                    <b>LectureLeaks</b> is your personal open courseware repository.  You can now record, save, and share your college lectures directly from your computer, iPhone, or Android device.  You can also browse our library of multimedia academic resources and learn any time, anywhere.
							</li>
							<li>

						</ul>
					</div>
				</div>
			</div>
			<div id="sidebar">
				<div id="sidebar-bgtop">
					<div id="sidebar-bgbtm">
						<ul>
							<li id="search">
								<h2>Recent Uploads</h2>
								<ul>
                                    {% for doc in recent %}
									<li><a href="/school/{{doc.school}}/subject/{{doc.subject}}/course/{{doc.course}}"><b>{{doc.name}}</b> - {{doc.course}} - {{doc.school}}</a></li>
                                    {% endfor %}
								</ul>
							</li>

						</ul>
					</div>
				</div>
			</div>
			<!-- end div#sidebar -->
			<div style="clear: both; height: 1px"></div>
		</div>
	</div>
	<!-- end div#page -->
</div>
<br />
<!-- end div#wrapper -->
<div id="footer-wrapper">
	<div id="footer">
		<p id="legal">LectureLeaks is made by <a href="http://gun.io">The Vulcan </a><a href="http://chrisballinger.info">Anarchy </a><a href="http://i.imgur.com/64pq6.jpg">Brigade</a>.</p>
		<p id="links">All content is available under the Creative Commons Attribution license.</p>
		<p id="links"><a href="http://openwatch.net"><img src="/static/ow.png" width="175px"></a></p>
	</div>
</div>
<!-- end div#footer -->
</body>
</html>
