
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: url("/static/drips.png") repeat-x 0px 120px, #789DC3 url('/static/texture.png') repeat left top;
	text-align: justify;
	font-family: Georgia, serif;
	font-size: 15px;
	color: #281E47;
}

h1, h2, h3 {
	color: #AA2808;
}

h1 {
}

h2 {
}

h3 {
}

p, blockquote, ul, ol {
	margin-bottom: 20px;
	line-height: 2em;
}

p {
}

blockquote {
}

ul, ol, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a {
	text-decoration: underline;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #AA2808;
}

table {
                width: 100%;
                border-collapse: collapse;
                }
                
table thead th {
                font-weight: bold;
                font-size: 15px;
                }
                
tbody {
                }
                
tbody tr {
                background: #fff;
                }
              
tbody tr.alt-row {
                background: #f3f3f3;
                }
                
table td, table th {
                padding: 10px;
                line-height: 1.3em;
        
                }        
				
table tfoot td .bulk-actions {
                padding: 15px 0 5px 0;
                } 
				
table tfoot td .bulk-actions select {
                padding: 4px;
                }      

/* Wrapper */

#wrapper {
	width:100%;
	margin: 0 auto;
}

/* Wrapper2 */

#wrapper2 {
	margin: 0 auto;
	border-bottom: 4px solid #281E47;
	background: url("/static/drips2.png") repeat-x 0px 70px, #467093;
}

/* Header */

#header {
	height: 140px;
	margin: 0 auto;
	width: 960px;
}

/* Logo */

#logo {
	float: left;
	width: 270px;
	height: 76px;
	margin: 0 auto;
	padding: 15px 0px 0px 30px;
}

#logo h1 {
	margin: 0;
	padding: 0;
	font: normal 46px Georgia, "Times New Roman", Times, serif;
}

#logo h2 {
	margin: -4px 0 0 0;
	padding: 0px 0px 0px 10px;
	letter-spacing: 2px;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

#largelink a {
	text-decoration: underline;
	color: #5d45a4;
  font-size: 22px;
	font-weight: bold;
  padding:3px;
}

#logo h2 a {
	color: #ffffff;
	font-size: 18px;
	text-shadow: 0px -1px #281e47;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
}

/* Menu */

#menu {
	float: right;
	width: 500px;
}

#menu ul {
	margin: 0;
	padding: 0px 0 0 20px;
	list-style: none;
	line-height: normal;
	margin-left: 30px;
}

#menu li {
	display: inline;
	text-align: center;
}

#menu a {
	display: block;
	float: left;
	height: 100px;
	margin-right: 1px;
	padding: 3px 2px 0px 2px;
	padding-top:30px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	font-family: Georgia, serif;
	font-size: 28px;
	font-weight: normal;
	color: #fff;
	text-shadow: 0px -1px #281e47;
	padding-left:10px;
	padding-right:10px;

}

#menu a:hover, #menu .active a {
	background: url("/static/bigdrip.png") no-repeat 30px -5px;
}

/* Search */

#search {
	padding: 40px 40px 40px 40px;
	background: url('/static/texture2.png'), #fffff8;
  box-shadow: inset 2px 2px 5px #000;
  border-radius: 10px;
  -moz-border-radius: 10px;
	width: 200px;
	text-shadow: 0px 1px #fff;

}

#search form {
	margin: 0;
	padding: 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	padding: 2px 2px;
}

#search-text {
	width: 100px;
	border: 1px solid #000000;
	color: #281E47;
}

#search-submit {
	height: 21px;
	margin-left: 3px;
    margin-top:6px;
	padding: 3px;
	border: none;
	background: #E71810;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 900px;
	margin: 0 auto;
}

/* Content */

#content {
	float: left;
	width: 630px;
}

.post {
  box-shadow: inset 2px 2px 5px #000;
  border-radius: 10px;
  -moz-border-radius: 10px;
	background: url('/static/texture2.png'), #fffff8;
	margin-top: 32px;
	text-shadow: 0px 1px #fff;
}

.post-bgtop {
}

.post-bgbtm {
	padding: 50px 40px 30px 40px;
}

.post .title {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	color: #281E47;
}

.post .title a {
	letter-spacing: -1px;
	text-decoration: none;
	font-weight: normal;
	font-size: 32px;
	color: #281E47;
	text-shadow: 0px 1px #fff;
}

.post .entry {
}

.post img {
	float: left;
	padding: 15px 0px;
}

.post .meta {
}

.post .more {
	display: block;
	width: 115px;
	height: 32px;
	padding: 8px 0px 0px 0px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
}

.post .byline {
	font-size: 15px;
	font-style: italic;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 260px;
	font-size: 13px;
}

#sidebar-bgtop {
}

#sidebar-bgbtm {
	padding: 30px 20px 20px 20px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 1px;
}

#sidebar li ul {
	margin: 0px;
	padding: 0px 0px 40px 0px;
}

#sidebar li li {
	margin: 0;
	padding: 7px 0px;
	border: none;
}

#sidebar li li a {
	padding-left: 20px;
}

#sidebar h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	font-size: 180%;
	font-weight: normal;
	color: #281E47;
}

#sidebar h3 {
	font-size: 77%;
	color: #454E55;
}

#sidebar p {
	margin: 0;
	line-height: normal;
	color: #281E47;
}

#sidebar a {
	border: none;
	text-decoration: none;
	color: #281E47;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #363636;
}

/* Submenu */

#submenu {
	background: #fff;
}

/* News */

#news {
}

#news a {
	font-size: 85%;
}

/* Footer */

#footer-wrapper {
	background: url("/static/drips3.png") repeat-x 0px 0px, #467093;
	padding: 20px 0px;
	border-top: 4px solid #281E47;
	color: #fff;
	height:200px;
}

#footer {
	width: 900px;
	margin: 0 auto;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: 18px;
	text-shadow: 0px -1px #281e47;
}

#footer a {
	text-decoration: underline;
	color: #fff;
  font-weight: bold;
}

#footer a:hover {
	text-decoration: none;
	color: #F90542;
}

.fieldWrapper{
	width:480px;
	padding-top:5px;
	padding-bottom:5px;
}

.description{
	height:200px;
}

.formfield {
	display:inline;
	float:left;
	width:320px;
	text-align:left;
}
.formlabel {
	display:inline;
	float:left;
	width:120px;
	text-align:right;
	margin-right:5px;
}
